<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ '/static/css/bulma.min.css' | prepend: site.cdnurl }}">
  <link rel="stylesheet" href="{{ '/static/css/styles.css' | prepend: site.baseurl }}">
  <script defer src="{{ '/static/js/fontawesome_5.3.1.js' | prepend: site.cdnurl }}"></script>
  <script src="{{ '/static/js/jquery.min.js' | prepend: site.cdnurl }}"></script>
  {% include baidu_analytics.html %}
  {% include head_hook.html %}
</head>