$bgColor: #16171a;
$codeBgColor: #282c33;
$primaryColor: #fafafa;
$secondaryColor: #9c9ea6;
$lightColor: #ffdd57;
$backTopColor: #333;
$backTopBgColor: #f9d23c;
$backTopHoverBgColor: #fdc900;
$contentAColor: #2166d6;
$contentAHoverColor: #22252a;
$fontSize: 12px;
