---
layout: default
---

<div class="container">
	<section class="hero has-text-centered">
		<div class="hero-body" style="padding-top:0;">
			<div class="container">
				<div class="columns is-centered">
					<div class="column codebox-logo">
						<h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
							<svg viewBox="0 0 500 80">
								<symbol id="s-text">
									<text text-anchor="middle" x="50%" y="50%" dy=".35em">CODESOFUN</text>
								</symbol>
								<use class="text" xlink:href="#s-text"></use>
								<use class="text" xlink:href="#s-text"></use>
								<use class="text" xlink:href="#s-text"></use>
								<use class="text" xlink:href="#s-text"></use>
								<use class="text" xlink:href="#s-text"></use>
							</svg>
						</h1>
						<div class="typed-title">
							<h2 class="subtitle is-size-4-desktop"></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="columns is-mobile is-centered cover">
			<div class="column is-narrow">
				<div class="cover-item" style="background-image: url('{{ "/static/images/java.png" | prepend: site.cdnurl }}')">
					<div class="overlay">
						<p>
							最实用的 Java 程序员代码片段。
						</p>
						<p>
							<a class="button is-danger" href="/java.html">立即 GET</a>
						</p>
					</div>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="cover-item" style="background-image: url('{{ "/static/images/python.gif" | prepend: site.cdnurl }}')">
					<div class="overlay">
						<p>
							Python 经典实例，源码任你用。
						</p>
						<p>
							<a class="button is-danger" href="/python.html">立即 GET</a>
						</p>
					</div>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="cover-item" style="background-image: url('{{ "/static/images/golang.png" | prepend: site.cdnurl }}')">
					<div class="overlay">
						<p>
							做一只拿来主义的 Gopher!
						</p>
						<p>
							<a class="button is-danger" href="/golang.html">立即 GET</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="section is-contact is-medium">
	<div class="container">
		<div class="section-header has-text-centered">
			<h2 class="title is-1 is-spaced"> Don't be shy, say hi! </h2>
			<p class="subtitle is-5"> We might deal with trolls, werewolfs and huge dogs, but we don’t bite. </p>
		</div>
		<div class="section-body has-text-centered">

		</div>
		<div class="section-media">
			<img role="presentation" src="/static/images/dev.png">
		</div>
	</div>
</section>
